<div class="ui container">
<hr>
  <div class="FacultyHeader">
    <h1 align = 'left' style = 'color:gray'>List of Students</h1>
  </div>
<hr>

<br>

<div class = "student search menu">
    <h5 style = 'color:gray '> Please Enter Student ID: </h5>
    <input type = 'text' placeholder = 'Search Student ID'>
    
<br>

</div>
    <div class="ui top attached tabular menu">
    <a class="active item" data-tab="accountDet" >Class Paths</a>
    <a class="item" data-tab="courseTaken" >Completed Courses</a>
    <a class="item" data-tab="savedCourse">Minimal account details</a>
    </div>
 <br>
 </br>

</div>