<div class="dashboardHeader">
    <h3>About Page</h3>
    <hr class="blue" style="margin-bottom:10px;"/>
    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <div class="row">
                <h3 class="ui header">ABOUT US?</h3>
                <p>
                    This is what we're about! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida purus ut pellentesque pretium. Vestibulum malesuada arcu et lorem pretium, vitae lobortis nisi vestibulum. Maecenas eget volutpat orci. Proin fermentum nisi ut augue pellentesque, id hendrerit libero gravida. Ut nibh justo, blandit quis magna eu, pretium accumsan magna. Nullam aliquam, lacus et vulputate sagittis, purus augue consectetur nisi, et mattis dolor urna non lorem. Proin volutpat metus vel sapien imperdiet, vitae maximus mauris maximus. Morbi commodo orci id maximus laoreet. Curabitur sollicitudin ex at ipsum viverra, in faucibus odio sagittis. Donec vulputate purus quis ipsum iaculis, a dapibus mauris suscipit. Donec vel egestas ante. Suspendisse eu sagittis purus, ullamcorper tempus ante. Nullam mollis elit eu tellus ultrices vestibulum. Donec scelerisque maximus faucibus. Vivamus eu lectus volutpat, tempus ligula eget, ultricies risus.

Cras id enim non nulla pellentesque tincidunt. Ut ullamcorper at ipsum sit amet convallis. Duis elementum tellus vel felis suscipit, sed porta justo fermentum. Praesent eu lacinia lectus, vel tristique mauris. Cras ultrices sit amet augue eu sagittis. Praesent molestie mauris a sem hendrerit tempor. Integer blandit ex aliquet mi viverra ullamcorper. Fusce mattis sem mi, dictum porta nisl luctus sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut et maximus ante, ac pellentesque ex. Duis quis efficitur leo. Aenean nec varius magna, non malesuada lectus.
                </p>
            </div>
        </div>
        <div class="ui vertical stripe segment">
            <div class="ui text container">
                <div class="row">
                    <h3 class="ui header">¿Sobre nosotros?</h3>
                    <p>
                        ¡De esto se trata! Phasellus dolor quam, bibendum eget viverra et, dictum sit amet libero. Sed hendrerit, risus non ornare porta, augue eros faucibus mi, eget accumsan lacus dui porta risus. Duis neque est, convallis ac nibh nec, finibus fermentum enim. Praesent sem sapien, convallis id arcu vitae, efficitur vehicula nisl. Fusce dignissim molestie semper. Vestibulum orci quam, vehicula eu ex at, viverra pharetra tellus. Maecenas suscipit sapien eget libero laoreet convallis. In in arcu id nibh placerat sodales. Ut ut facilisis ipsum. Sed laoreet iaculis neque, sed imperdiet nisl imperdiet eget.
    
    Suspendisse eu tempor libero, ac luctus leo. Mauris dui lorem, feugiat sit amet odio ut, ullamcorper hendrerit sem. In nisi sapien, auctor sed elit nec, dapibus lobortis nulla. Nulla lobortis commodo sagittis. Pellentesque commodo sapien ut scelerisque tincidunt. Fusce dapibus, nisl quis vehicula pharetra, ligula libero sollicitudin nulla, sed condimentum mauris eros non lacus. Proin scelerisque libero quis massa auctor, vitae viverra est commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in dictum leo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>