<div class="dashboardHeader">
    <h3>FREQUENTLY ASKED QUESTIONS</h3>
    <hr class="blue" style="margin-bottom:10px;"/>
    <div class="ui container">
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <div class="header"> What the heck dude? </div>
                </div>
                <div class="extra content">
                    <div class="description"> This is the heck dude!</div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="header"> What the heck dude? </div>
                </div>
                <div class="extra content">
                    <div class="description"> This is the heck dude!</div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="header"> What the heck dude? </div>
                </div>
                <div class="extra content">
                    <div class="description"> This is the heck dude!</div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="header"> What the heck dude? </div>
                </div>
                <div class="extra content">
                    <div class="description"> This is the heck dude!</div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="header"> What the heck dude? </div>
                </div>
                <div class="extra content">
                    <div class="description"> This is the heck dude!</div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="header"> What the heck dude? </div>
                </div>
                <div class="extra content">
                    <div class="description"> This is the heck dude!</div>
                </div>
            </div>
        </div>
    </div>
</div>