<p id="notice"><%= notice %></p>
<div class="dashboardHeader">
  <h3>Skills Assessment</h3>
  <hr class="blue"/>
</div>
<div class="ui container">
    <div class="jobSearch container">
      ourses
      <div class="jobSearch btn-container" >
        <a class="huge ui teal button" href="/jobs/match">FIND A JOB</a>
        <p class="or">- OR -</p>
        <a class="huge ui teal button" href="/courses/find">FIND CLASSES TO TAKE</a>
      </div>
    </div>
</div>
 

